<% include site_header.html %>
      <div class="home-div">
            <p><%= __('Welcome to') %> <%= title %>.</p>
            <p><%= __('If you are reading this, it means that you have already downloaded our repo and you are checking oout the API') %></p>
            <p><%= __('You´ll find a brief visualization of cards on') %> <a href="/view"> "<%= __('view') %>" </a>.</p>
            <p><%= __('You have all the info you might need on') %> <a href="/documentation"> <%= __('documentation') %> </a>.</p>
            <p><%= __('And, of course, you can directly go to the API route "/api" and check the behaviour passing queries params to check the responses') %>.</p>
            <a href="/view"><button type="button" class="btn btn-light"><%= __('Go to view') %></button></a>
      </div>

<% include site_footer.html %>
