<% include site_header.html %>

    <div class = "ads-container">
    <% ads.forEach(item => { %>
      <div class="card" style="width: 18rem;">
        <img src="../<%= item.cover %>" class="card-img-top" alt="cover picture">
        <div class="card-body">
          <h5 class="card-title"><%= item.title %></h5>
          <p class="card-text">description: <%= item.description %></p>
          <p class="card-price">price: <%= item.price %>€</p>
          <p class="card-text">tags: <%= item.tags %></p>
          <a href="http://localhost:3000/view/<%= item._id %>" class="btn btn-primary">Go to detail</a>
        </div>
      </div>
      <% }) %>
    </div>
<% include site_footer.html %>
